@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body, h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

img {
    display: block;
    width: 100%;
    height: 100vh;
}

.bg-image {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(image\ 3.png); /* Mobile background image */
}

.scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 129, 129, 76%);
    min-width: 18rem;
    height: 30rem;
    margin: 0 auto;
    border: #BA1B41 solid 10px;

}

.tablet, .desktop {
    display: none;
}

/* Setting up the positioning of the scoreboard content + design*/

h1 {
    text-align: center;
    padding-top: 2rem;
}

.score-counter {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding: 2rem;
}

h2 {
    font-size: 1.2rem;
}

.home {
    text-align: center;
}

h3 {
    padding-block: 2rem;
    font-size: 1.2rem;
    text-decoration: underline;
}


h4 {
    padding-inline: 2rem;
    font-weight: bolder;
    margin-top: 2rem;
}

.buttonflex {
    display: flex;
    flex-direction: column;
}


.away {
    text-align: center;
}

/* Buttons design */

button {
    margin-block: 1rem;
    border-radius: .7rem;
    border: #BA1B41 solid 2px;
    padding: .5rem 0;
    font-size: .7rem;
    min-width: 5rem;
    background-color: #F3D9C2;
    font-weight: bold;
}

button:active {
    background-color: #BA1B41;
    color: white;
}

#restartGame {
    padding: .5rem;
    margin: 4rem auto 0;
    display: flex;
}

 /* Tablet */
  
  @media (min-width: 700px){
    .bg-image {
      background-image: url(image\ 2.png);
    }

    button {
        cursor: pointer;
    }

    .scoreboard {
        min-width: 30rem;
    }

    h1 {
        font-size: 1.8rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }
   
    /* Buttons design */
    
    button {
        font-size: .9rem;
        min-width: 6rem;
    }

    #restartGame {
        margin-top: 1.5rem;
    }
    
  }

  /* Desktop */
  
  @media (min-width: 1024px) {
    .bg-image {
      background-image: url(Background.png);
    }

    .scoreboard {
        min-width: 40rem;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.9rem;
    }
    
    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 1.5rem;
    }
   
    /* Buttons design */
    
    button {
        font-size: .9rem;
        min-width: 6rem;
    }
  }
